# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Type checking / lint caches
.mypy_cache/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# SQLite DB
queuectl.db